<!DOCTYPE html>
<html lang="es">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <title> {% block title %} {% endblock %}</title>
</head>
<body>
    <h3>Eduardo</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith%}

    {% block content %} 
    {% endblock %}
        
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">&copy; Curso Flask 2016</p>
            </div>
        </div>
    </footer>

</body>

</html>
